<!-- Site wrapper -->
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a [routerLink]="['/']" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>{{projectName.minimalName}}</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>{{projectName.firstName}}</b> {{projectName.lastName}}</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img [src]="userDefault" class="user-image" alt="User Image">
              <span class="hidden-xs">Username</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img [src]="userDefault" class="img-circle" alt="User Image">
                <p>
                  Username - {{projectName.firstName}} {{projectName.lastName}}
                </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a class="btn btn-default btn-flat">Meus dados</a>
                </div>
                <div class="pull-right">
                  <a class="btn btn-default btn-flat" (click)="logout()">Sair</a>
                </div>
              </li>
            </ul>
          </li>

        </ul>
      </div>
    </nav>
  </header>

  <!-- =============================================== -->

  <!-- Left side column. contains the sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">Menu de navegação</li>
        <li class="treeview link-pointer" routerLinkActive="active menu-open">
          <a>
            <i class="fa fa-linux"></i> <span>Item</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="" routerLinkActive="active"><a [routerLink]="['/main']"><i class="fa fa-linux"></i> Sub Item</a></li>
          </ul>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['/main1']">
            <i class="fa fa-linux text-success"></i>
            <span>Item 1</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['/main2']">
            <i class="fa fa-linux text-danger"></i>
            <span>Item 2</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['/main3']">
            <i class="fa fa-linux text-info"></i>
            <span>Item 3</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['/main4']">
            <i class="fa fa-linux text-warning"></i>
            <span>Item 4</span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['/main5']">
            <i class="fa fa-linux text-muted"></i>
            <span>Item 5</span>
          </a>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
      <router-outlet></router-outlet>
  </div>

  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>{{projectName.firstName}}</b> {{projectName.lastName}}
    </div>
    <strong>
      <a href="https://www.pluritech.com.br">
      Pluritech Brasil</a>.
    </strong>
  </footer>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>

<toaster-container></toaster-container>
