<div class="login-box">
  <div class="login-logo">
    <a [routerLink]="['/']"><b>{{projectName.firstName}}</b> {{projectName.lastName}}</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">
      Informe o seu e-mail para que possamos enviar uma senha temporária para você. Caso demore mais que o normal verifique a sua caixa de spam.
    </p>

    <div class="form-group has-feedback" *ngIf="!isSubmitting">
      <input type="email" class="form-control" placeholder="Email" [(ngModel)]="emailToRecovery">
      <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>
    <app-loader *ngIf="isSubmitting"></app-loader>
    <p class="text-info">{{ msgFeedback }}</p>
    <div class="row">
      <div class="col-xs-12">
        <a [routerLink]="['/login']" type="submit" class="btn btn-primary col-xs-6">
          Cancelar
        </a>
        <button type="button" class="btn btn-success col-xs-6" (click)="recoveryPassword()" [disabled]="!emailToRecovery || isSubmitting">
          Enviar
        </button>
      </div>
    </div>
  </div>
</div>
