/* You can add global styles to this file, and also import other style files */
@import 'node_modules/angular2-toaster/toaster';

.section {
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.date-placeholder {
    &:before{
        content: attr(placeholder) !important;
        color: #aaa;
        margin-right: 0.5em;
    }
    &:focus:before, &:valid:before {
        content: "";
    }
}
